<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="{% url 'superAdmin:client' user.id %}" method="post"> <!------->

        <h1>Acropolis Form</h1>                                         <!------->
        <form action="{% url 'superAdmin:client' user.id %}" method="post">
            {% csrf_token %}
            {{ acropolis_form.as_p }}
            <input type="submit" value="AcropolisForm">
        </form>

        <h1>Sarawak Form</h1>                                           <!--- ---->
        <form action="{% url 'superAdmin:client' user.id %}" method="post">
            {% csrf_token %}
            {{ sarawak_form.as_p }}
            <input type="submit" value="SarawakForm">
        </form>

        <h1>Visa Form</h1>                                           <!---Sarawak form wrapper---->
        <form action="{% url 'superAdmin:client' user.id %}" method="post">
            {% csrf_token %}
            {{ visa_form.as_p }}
            <input type="submit" value="VisaForm" >
        </form>
        <input type="submit" value="AllForm">

    </form>
</body>
</html>