<h1>Quick Navigation</h1>
	<br>
	<br>
User:	<br>
1. <a href="{% url 'userProfileApp:signin' %}">user login </a>	<br>
2. <a href="{% url 'userProfileApp:signup' %}">user sign-up </a>	<br>
3. <a href="{% url 'userProfileApp:usrProfile' %}">user profile </a>	<br>
4. <a href="{% url 'userProfilelogout' %}">user logout </a>	<br>

	<br>
Admin:
	<br>
1. <a href="{% url 'superAdmin:signin' %}">admin login </a>	<br>
2. <a href="{% url 'superAdmin:dashboard' %}">admin profile </a>	<br>
3. <a href="{% url 'superAdminlogout' %}">admin logout </a>	<br>
