{% load static %}
<section id="main-menu">
      <div class="container">
           <div class="row">
               <div class="col-sm-2 side-body-padding">
                  <p id="logo">ACROPOLIS</p>
               </div>
               <div class="col-sm-6">
                  <ul id="menu-list">
                      <li id="menu-list-name"><a class="active-page"></a></li>
                  </ul>
               </div>
               <div class="col-sm-4 main-body-padding">
                  <ul id="singup-list">
                    <li id="singup-list-name" class="menu-down-button">
                      <i class="fas fa-sort-down menu-down-icon"></i>
                    </li>  
                    <li id="singup-list-name">
                      <span class="menu-profile-name"><a>Tasif Tarikul</a></span>
                    </li>
                    <li id="singup-list-name">
                        <span><img src="{% static 'common_static/img/person2.jpg' %}" class="menu-profile-img"></span>
                    </li>
                  </ul>
               </div>
           </div>
      </div>
    </section><!--       Main Menu     -->

    <section class="drop-down-section">
      <div class="arrow-up"></div>
      <div class="drop-down-box">
              <p id="singup-list-name" class="singup-list-here">
                  {% if request.user.is_superuser  %}
                      <a href="{% url 'superAdminlogout'%}">Logout</a>
                  {% else %}
                      <a href="{% url 'userProfilelogout'%}">Logout</a>
                  {% endif %}
              </p>
              <p class="Deactive-button">Deactive</p>
          </ul>
      </div>  
    </section>

    <section id="mobile-menu">
        <div id="mobile-menu-button-box">
             <span id="mobile-menu-logo">ACROPOLIS</span>
             <span id="mobile-menu-button"><i class="fa fa-bars side-menu-bar"></i></span>
             <span id="mobile-menu-button1"><i class="fa fa-bars side-menu-bar"></i></span>
        </div>
      <ul id="mobile-menu-list">
            <li id="mobile-menu-list-name">
                <span><img src="{% static 'common_static/img/person2.jpg' %}" class="menu-profile-img-mobile"></span>
                <span>Tasif Tarikul</span><br>
                <span class="mobile-logout">Logout</span>
                <p class="mobile-deactive">Deactive</p>
            </li>
            <a href="#"><li id="mobile-menu-list-name" class="active-page"></li></a>
        </ul>
    </section><!--       Mobile Menu     -->